@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 270 100% 98%;
    --secondary: 250.5 95.2% 91.8%;
    --tertiary: 263.4 70% 50.4%;
    --dark: 0 0% 3.9%;
    --light: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-primary text-dark;
  }

  .flex-center {
    @apply  flex items-center justify-center;
  }

  .tab-item {
    @apply w-full h-full flex-center text-sm font-semibold px-3 py-1 rounded-lg text-dark hover:bg-secondary;
  }

  .tab-content {
    @apply bg-secondary flex-grow-0 data-[state=active]:flex-grow data-[state=active]:flex-1 flex;
  }

  .input-field {
    @apply w-56 h-14 rounded-lg p-3 text-xl font-bold text-tertiary focus-visible:outline-none text-center bg-primary/40 border-primary border-4
  }

  .box-field {
    @apply relative isolate overflow-hidden w-full h-full flex-center font-extrabold bg-primary rounded-md cursor-pointer border-4 border-light shadow-inner flex-col
  }

  .box-field-gradient {
    @apply bg-gradient-to-r from-tertiary via-tertiary/60 to-tertiary
  }

  .dialog-content {
    @apply w-full max-w-lg translate-x-[-50%] translate-y-[-50%] data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%]
  }

  .button {
    @apply w-56 h-12 bg-tertiary/90 hover:bg-tertiary text-light text-lg font-extrabold rounded-md
  }

  .action-button {
    @apply w-32 h-10 px-4 rounded-full bg-tertiary/90 hover:bg-tertiary text-lg text-light font-medium flex justify-start items-center gap-4
  }

  table {
    @apply w-full text-sm border-collapse bg-primary rounded-xl table-fixed
  }

  thead {
    @apply [&_tr]:border-b [&_tr]:bg-secondary/20
  }

  tbody {
    @apply [&_tr:last-child]:border-0
  }

  th {
    @apply h-10 text-center align-middle text-sm font-semibold text-tertiary p-4
  }

  td {
    @apply text-center align-middle p-4
  }

  tr {
    @apply border-b
  }
}