@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --primary: 9999;
    --secondary: 9999;
    --tertiary: 9999;
    --glassy: 9999
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .flex-center {
    @apply  flex items-center justify-center;
  }

  .tab-item {
    @apply w-full h-full flex-center text-sm font-semibold px-3 py-1 rounded-lg text-primary hover:bg-neutral-700 hover:text-primary-foreground;
  }

  .tab-content {
    @apply bg-neutral-700 flex-grow-0 data-[state=active]:flex-grow data-[state=active]:flex-1 flex;
  }

  .input-field {
    @apply block h-14 w-60 p-4 text-xl font-semibold
  }

  .add-button {
    @apply block w-44 h-14 rounded-md bg-neutral-500 text-neutral-50
  }

  .hover-card > input:checked ~ label {
    color: blue;
  }

  .hover-card > input:not(:checked) ~ label:hover, .hover-card > input:not(:checked) ~ label:hover ~ label {
    color: rgb(233, 178, 0);
  }
}
